<div class="container">

  <div class="row mt-0 mb-0" *ngIf="voter_editable">
    <!-- <div class="col-6">available votable items, sorted by
      <select [(ngModel)]="selected_sorting_option" size="1" (click)="fetchVotableItems()">
        <option *ngFor='let sorting_option of item_list_sorting_options' [value]="sorting_option">{{sorting_option}}</option>
      </select>
    </div> -->
    <!-- <div class="col-3 text-center">Vote Count</div> -->
    <div class="col-12"><a href="#" [routerLink]="['/votable-item-edit', voting_subject_id]">Add</a> possible answers of your own.</div>
  </div>
  
  <div class="row mt-2 mb-2" *ngFor="let oneVotableItem of allVotableItems | async">

    <div class="col-2 col-sm-1 text-center"><button class="btn btn-success btn-sm" (click)="voteUp(oneVotableItem._id)">+</button></div>
    <div class="col-2 col-sm-1 text-center"><button class="btn btn-danger btn-sm" (click)="voteDown(oneVotableItem._id)">-</button></div>

    <div class="col-8 col-sm-8"><strong>{{oneVotableItem.title}}</strong></div>

    <!-- <div class="col-3 text-center">{{oneVotableItem.vote_score}}</div> -->  
    <!-- <div class="col-4 text-center"><button class="btn btn-warning btn-sm" (click)="voteNeutral(oneVotableItem._id)">Neutre</button></div> -->
      
  
    <div class="col-6 col-sm-1 text-center" *ngIf="oneVotableItem.author === voter_id"><a href="#" [routerLink]="['/votable-item-edit', voting_subject_id, oneVotableItem._id]"><button class="btn btn-light btn-sm">Edit</button></a></div>
    <div class="col-6col-sm-1  text-center" *ngIf="oneVotableItem.author === voter_id"><button class="btn btn-light btn-sm" (click)="removeVotableItem(oneVotableItem._id)">Del</button></div>
      
  </div>

</div>